/* This is the border-box at the very top of the page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  /* This is the website's body element. It has a background color that is a light green/blue */
body {
    background-color: teal;
  }
  
  /* This is the header of the html. The header has a padding and specified font families. The background color is dark gray and my name has white color  */
  .header {
    padding: 20px;
    font-family: garamond, gil sans, cambria, constantia;
    background-color: #787878;
    color: #ffffff;
  }  
  /* This is the website header's h1 element. It has a display of inline-block that allows the element to have a set width and height. H1 also hase a font size of 48 pixels. */
.header h1 {
    display: inline-block;
    font-size: 48px;
  }
  
  /* This is also part of the header. This paticular div element is specifing where the text will go on the header, which font-family to use and font size. */
  .header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: garamond, gil sans, cambria, constantia;
    font-size: 20px;
  }
  
  /* This is the div elements unorganized list. There is no specified list style type. */
  .header div ul {
    list-style-type: none;
  }
  
  /* This is the header div list items. It has a display of inline-block and has a margin-left. */
  .header div ul li {
    display: inline-block;
    margin-left: 25px;
  }
  
  /* This is the header's anchor element. It is specifying that it's text color is white and no text-decoration. */
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  /* This is the body's paragraph element. It is specifying that is has a font size of 16px. */
  p {
    font-size: 16px;
  }
  
  /* This is the body's background image. It has a specified height/width, margins and is centered in the website. */
  .backimage {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./Images/Background.jpg");
    background-size: cover;
    background-position: center;
  }

  .content {
      display: inline-block;
      margin-left: 20px;
  }

  /* This is the html's float-left class. This is telling the html to float the image left and add spacing right. */
.float-left {
    float: left;
    margin-right: 25px;
    text-align: center;
  }
  
  /* This is the html's float-right class. This is telling the html to float the image right and add spacing left. */
.float-right {
    float: right;
    margin-left: 25px;
    text-align: center;
  }
  
  /* This is the header inside the search engine optimization class. It has spacing on the bottom and a specified font size.  */
h2 {
    margin-bottom: 20px;
    font-size: 36px;
    display:inline-block;
  }
  
  /* This is the header inside the online reputation management class. It has spacing on the bottom and a specified font size. */
h3 {
    margin-bottom: 20px;
    font-size: 36px;
    display:inline-block;
  }
  
  /* This is the header inside the social media marketing class. It has spacing on the bottom and a specified font size. */
h4 {
    margin-bottom: 20px;
    font-size: 36px;
  }

h5 {
      margin-bottom: 20px;
      font-size: 36px;
  }
  
  /* This is the footer class located on the very bottom of the website. It has a specified padding, font family and it's text is centered. */
.footer {
    padding: 30px;
    clear: both;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-align: center;
  }
  