* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color: teal;
    font-family: garamond, gil sans, cambria, constantia;
    justify-content: space-between;
}

.header {
    padding: 20px;
    font-family: garamond, gil sans, cambria, constantia;
    background-color: #787878;
    color: #ffffff;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
}  

.header h1 {
    display: inline-block;
    font-size: 48px;
}
  

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: garamond, gil sans, cambria, constantia;
    font-size: 20px;
}
  
.header div ul {
    list-style-type: none;
}
  
.header div ul li {
    display: inline-block;
    margin-left: 25px;
    float: right;
}
  

a {
    color: #ffffff;
    text-decoration: none;
}
  

p {
    font-size: 16px;
    font-family: garamond, gil sans, cambria, constantia;
}
  

.backimage {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./Images/Background.jpg");
    background-size: cover;
    background-position: center;
}

.main {
  display: flex;
}

.columnleft {
  text-align: center;
  width: 500px;
  margin-top: 50px;
  float: left;
}

#aboutme {
  margin-bottom: 200px;
  font-size: 60px;
}

#work {
  margin-bottom: 600px;
  font-size: 60px;
}

#contactme {
  margin-bottom: 200px;
  font-size: 60px;
}

#resume {
  margin-bottom: 200px;
  font-size: 60px;
}

.columnright {
  width: 750px;
  margin-top: 50px;
  float: right;
  justify-content: space-between;
  display: inline-block;
}

#aboutmeinfo {
  text-align: left;
  margin-top: 10px;
}

#workbox {
  height: 250px;
  width: 500px;
  border: 5px solid darkblue;
  margin-top: 215px;
  margin-right: 50px;
}

#ledwall {
  height: 125px;
  width: 240px;
  background-image: url(./Images/ledwall.jpg);
  border: 5px solid darkblue;
  position: relative;
  margin-top: 10px;
  float: left;
}

#calculator {
  height: 125px;
  width: 240px;
  background-image: url(./Images/calculator.jpg);
  border: 5px solid darkblue;
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
}

#pastelpuzzles {
  height: 125px;
  width: 240px;
  background-image: url(./Images/pastel.jpg);
  border: 5px solid darkblue;
  position: relative;
  margin-top: 15px;
  margin-right: 250px;
}

#runbuddy {
  height: 125px;
  width: 240px;
  background-image: url(./Images/run.jpg);
  border: 5px solid darkblue;
  position: relative;
  float: right;
  margin-top: 15px;
  margin-left: 555px;
}

#contactmeinfo {
  margin-top:;
}

#resumeinfo {
  margin-top: 250px;
}

.fadein img{
  opacity:0.5;
  transition: 1s ease;
  }
  
.fadein img:hover{
  opacity:1;
  transition: 1s ease;
  }